<?php

// Define Constants for Omni API connections
// Placed in /var/www/www.southern.edu/configs/

define('ACCOUNT', 'southern');
define('CAL_USERNAME', '');
define('CAL_PASSWORD', ''); 
define('PUB_USERNAME', '');
define('PUB_PASSWORD', '');
